<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Chokokutai&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/base.css">
  <link rel="stylesheet" href="css/buki.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>武器追加</title>
</head>

<body>
  <div id="app">
    <h1>
      <a href="home.html">
        <img src="img/logomh.jpg">
      </a>
    </h1>
    <h2>武器追加</h2>
    <!-- 採点箇所１：インプット １０点 -->
    <input type="file" @change="onFileChange">
    <input type="text" v-model="newText1" placeholder="武器名">
    <select v-model="newText2">
      <option>大剣</option>
      <option>太刀</option>
      <option>片手剣</option>
      <option>双剣</option>
      <option>ランス</option>
      <option>ガンランス</option>
      <option>ハンマー</option>
      <option>狩猟笛</option>
      <option>スラッシュアックス</option>
      <option>スラッシュアックスF</option>
      <option>チャージアックス</option>
      <option>アクセルアックス</option>
      <option>操虫棍</option>
      <option>穿龍棍</option>
      <option>マグネットスパイク</option>
      <option>ライトボウガン</option>
      <option>ヘヴィボウガン</option>
      <option>弓</option>
    </select>
    <select v-model="newText3">
      <option>無</option>
      <option>火</option>
      <option>水</option>
      <option>氷</option>
      <option>爆破</option>
      <option>雷</option>
      <option>龍</option>
      <option>毒</option>
      <option>麻痺</option>
      <option>睡眠</option>
    </select>
    <select v-model="newText4">
      <option disabled value="複属性">複属性</option>
      <option>無</option>
      <option>火</option>
      <option>水</option>
      <option>氷</option>
      <option>爆破</option>
      <option>雷</option>
      <option>龍</option>
      <option>毒</option>
      <option>麻痺</option>
      <option>睡眠</option>
    </select>
    <input type="number" v-model="newText5" placeholder="攻撃力">
    <button @click="addItem">追加</button>
    <button @click="deleteAllItems">すべて削除</button>
    <div class="list">
      <ul>
        <!-- 採点箇所３：繰り返しor条件分岐が実装されている １０点 -->
        <li v-for="weapon in weapons" :key="weapon.id">
          <img :src="weapon.image" alt="Item Image">
          <p>{{ weapon.text1 }}：{{ weapon.text2 }}<br>
            属性：{{ weapon.text3 }}<br>複属性：{{ weapon.text4 }}<br>
            攻撃力：{{ weapon.text5 }}
          </p>
          <button @click="deleteItem(weapon.id)">削除</button>
        </li>
      </ul>
    </div>
  </div>

  <script>
    new Vue({
      el: '#app',
      data: {
        weapons: [],
        newText1:'',
        newText2: '大剣',
        newText3: '無',
        newText4: '複属性',
        newText5: '',
        selectedFile: null
      },
      mounted() {
        this.loadItemsFromLocalStorage();
      },
      methods: {
        onFileChange(event) {
          this.selectedFile = event.target.files[0];
        },
        addItem() {
          if (this.selectedFile && this.newText1 && this.newText2 && this.newText3 && this.newText4 && this.newText5) {
            const reader = new FileReader();
            reader.onload = (event) => {
              const newItem = {
                id: Date.now(),
                image: event.target.result,
                text1: this.newText1,
                text2: this.newText2,
                text3: this.newText3,
                text4: this.newText4,
                text5: this.newText5,
              };
              this.weapons.push(newItem);
              this.saveItemsToLocalStorage();
              this.resetForm();
            };
            reader.readAsDataURL(this.selectedFile);
          }
        },
        deleteItem(itemId) {
          this.weapons = this.weapons.filter((weapon) => weapon.id !== itemId);
          this.saveItemsToLocalStorage();
        },
        deleteAllItems() {
          this.weapons = [];
          this.saveItemsToLocalStorage();
        },
        saveItemsToLocalStorage() {
          localStorage.setItem('weapons', JSON.stringify(this.weapons));
        },
        loadItemsFromLocalStorage() {
          const savedItems = localStorage.getItem('weapons');
          if (savedItems) {
            this.weapons = JSON.parse(savedItems);
          }
        },
        resetForm() {
          this.selectedFile = null;
          this.newText1 = '';
          this.newText2 ='大剣';
          this.newText3 ='無';
          this.newText4 ='複属性';
          this.newText5 ='';
        }
      }
    });
  </script>
</body>

</html>
